<html>
    {% block content %}
    <head>
        <title>{{header}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://bootswatch.com/5/darkly/bootstrap.min.css" rel="stylesheet" media="screen">
        <style type="text/css">
          .container {
            max-width: 80%;
            padding-top: 5%;
          }

          .align-center {
              text-align: center;
          }

          .footer {
              margin-top: 10%;
          }

          .header {
              margin-bottom: 2%;
          }
        </style>
    </head>
    <body>
        <div class="container align-center">
            <div class="header">
                <h1>
                    {{header}}
                </h1>
                <h5>
                    {{message}}
                </h5>
            </div>
            {% if embed %}
            <iframe
                src="{{embed}}"
                frameborder="0"
                style="overflow:hidden;height:50%;width:100%"
                height="50%"
                width="100%"
            ></iframe>
            {% endif %}
            <div class="footer">
                {% if delay %}
                    <meta http-equiv="refresh" content="{{delay}};url={{redirect_to}}"/>
                    <h6>
                        Please wait...
                    </h6>
                {% else %}
                    <button
                        onclick="location.href = '{{redirect_to}}';"
                        class="btn btn-primary"
                    >
                        Continue
                    </button>
                {% endif %}
            </div>
        </div>
    </body>
    {% endblock %}
</html>